.menu{
    display:none;
    list-style: none;
    padding:0;

    margin:0;
}




.menu.open{
    display:block;
}

@media(max-width:768px){
    .menu-icon{
        display:block;
     
    }

    .menu{
        display:none;
        background-color: #06ef50;
        position: absolute;
        width: 100%;
    }
}